doxygen
cmake
libpistache-dev
g++-10
libboost-python-dev
libboost-filesystem-dev
libcurl4-openssl-dev
nlohmann-json3-dev
libzip-dev
libgazebo11-dev
gazebo11
gazebo11-plugin-base
cython3
python3-numpy
libgrpc++-dev
protobuf-compiler-grpc
libprotobuf-dev
libgsl-dev